body {
  font-size: 16px;
  color: #fff;
  background-color: #E76593;
  font-family: Arial;
  opacity: 70%;
  width: 100%

}

#header-nav {
	position: relative;
  background-color: #F583AB;

}


.navbar-brand h1 {position: absolute;
left: 0px;
top: 8px;
text-decoration: none;
font-size: 30px;
margin-top: 0px;
font-weight: bold;
color: #000000
}

button {margin-top: 30px
border: 1px black;}

#nav-list {background-color: #F19EF8;
	border: 1px black;
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
	
}

#collapsable-nav {padding: 0px;}

#nav-list span {color: #000000;}

#nav-list a {color: #000000;}

.text-center {font-size: 20px;
color: #000000;
text-decoration: underline;}

#big-text {background-color: #78247F;
margin: 10px;
padding-top: 10px;
padding-bottom: 10px;
height: 1500px;}

#big-text span {color: #000000;
font-size: 1.2em;}
